.input {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  outline: none;
  transition: border-color 0.2s ease-in-out;

  &:focus {
    border-color: #2563eb;
  }
}
