.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  max-height: 100vh;
  max-width: 100vw;

  @media (min-width: 640px) {
    flex-direction: row;
  }
}

.section {
  display: flex;
  flex-direction: column;
  color: white;
}
