.footer {
  background: linear-gradient(to right, #223241, #3b8b66);
  color: white;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 0 0 0 5rem;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.hr {
  margin: 2rem 0;
  border-color: white;
}
